.hero {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #111;
}

.hero h2 {
  font-size: 2.5rem;
  color: #ecc00f;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #ccc;
  padding: 2rem;
}

/* About Section */
.about {
  padding: 4rem 2rem;
  background-color: #000;
}

.about h2 {
  font-size: 2rem;
  color: #fdcd0e;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about p {
  text-align: justify;
  color: #ddd;
}

/* Services Section */
.services {
  padding: 4rem 2rem;
  background-color: #111;
}

.services h2 {
  font-size: 2rem;
  color: #f3f2ec;
  margin-bottom: 1rem;
  text-align: center;
}

.services ul {
  list-style: square;
  padding-left: 2rem;
  color: #ccc;
}
.serve:hover{
  color: #f1ce04;
}

.service-list li {
  margin-bottom: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #f5f3eb;
}
.service-list li:hover{
  color:#ecc00f
}
.service-list .desc {
  display: none;
  color: #fdf8f8;
  font-weight: normal;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

/* Gallery Section */
.gallery {
  padding: 4rem 2rem;
  background-color: #000;
}

.gallery h2 {
  font-size: 2rem;
  color: #fdcd0e;
  margin-bottom: 2rem;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.gallery-grid img {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Contact Section */
.contact {
  padding: 4rem 2rem;
  background-color: #111;
}

.contact h2 {
  font-size: 2rem;
  color: #fdcd0e;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact p {
  margin-bottom: 0.8rem;
  color: #ccc;
  text-align: center;
}

.contact .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #fdcd0e;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
}

/* Footer */
footer {
  background-color: #000;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}