* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.navbar {
    background-color: #fff;
  color: #000000;
  padding: 2% 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 8px #33313126;
}

.navbar .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar .logo {
  font-family: 'Playfair Display', serif;
  color: #1b1a1a;
  font-size: 1.8rem;
  font-weight: bold;
}

.logo:hover {
  color: #fdcd0e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar .nav-links a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #fdcd0e;
}

.name{
  font-family: 'Playfair Display', serif;
  color: #1b1a1a;
  font-size: 1.2rem;
  font-weight: bold;
  font-weight: 400;
  font-display:swap;
}


.gallery-grid {
  display:grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 16px;
   padding: 20px;


}

  button.explore {
    position: relative;
    top: -485px;
    left: 215px;
    height: 34px;
    width: 74px;
    BACKGROUND-COLOR: gold;
    FONT: inherit;
    FONT-FAMILY: unset;
}
button.find{

    position: relative;
    top: -485px;
    left: 215px;
    height: 34px;
    width: 152px;
    BACKGROUND-COLOR: gold;
    FONT: inherit;
    FONT-FAMILY: unset;
}




.call-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffee00; /* Green */
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.call-btn:hover {
  background-color: #ffffff; /* Darker green */
  transform: translateY(-2px);
}

.call-btn:active {
  background-color: #166534;
  transform: translateY(0);
}
